html, body { margin: 0; padding: 0; width: 100%; height: 100%; font-size: 10px;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-overflow-style: scrollbar;
}

.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background: #33227D;
	overflow: hidden;
}

.inner {
	box-sizing: border-box;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	width: 100%;
	min-width: 460px;
	height: 100%;
	padding: 0;
	color: #fff;
	text-decoration: none;
}

.image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 35vh;
	min-height: 50vw;
	overflow: hidden;
}
.image:before {
	content: '';
	display: block;
	position: absolute;
	z-index: 3;
	left: 0;
	top: 0;
	width: 30vh;
	height: 100%;
	background: -moz-linear-gradient(left,  rgba(51,34,125,1) 0%, rgba(51,34,125,0) 100%);
	background: -webkit-linear-gradient(left,  rgba(51,34,125,1) 0%,rgba(51,34,125,0) 100%);
	background: linear-gradient(to right,  rgba(51,34,125,1) 0%,rgba(51,34,125,0) 100%);
}
.image:after {
	content: '';
	display: block;
	position: absolute;
	z-index: 3;
	left: 0;
	top: 0;
	width: 100%;
	height: 25%;
	background: -moz-linear-gradient(top,  rgba(51,34,125,1) 10%, rgba(51,34,125,0) 100%);
	background: -webkit-linear-gradient(top,  rgba(51,34,125,1) 10%,rgba(51,34,125,0) 100%);
	background: linear-gradient(to bottom,  rgba(51,34,125,1) 10%,rgba(51,34,125,0) 100%);
}

.girl {
	position: absolute;
	z-index: 1;
	top: -2%;
	left: -2%;
	width: 104%;
	height: 104%;
	background: url(img/girl.jpg) 60% 50% no-repeat;
	background-size: cover;
	-webkit-animation: girl 8s infinite;
	        animation: girl 8s infinite;
}
@-webkit-keyframes girl {
	0%, 100% {
		-webkit-transform: translate(-2%,-2%);
		        transform: translate(-2%,-2%);
	}
	50% {
		-webkit-transform: translate(2%,2%);
		        transform: translate(2%,2%);
	}
}
@keyframes girl {
	0%, 100% {
		-webkit-transform: translate(-2%,-2%);
		        transform: translate(-2%,-2%);
	}
	50% {
		-webkit-transform: translate(2%,2%);
		        transform: translate(2%,2%);
	}
}

.cat {
	position: absolute;
	z-index: 2;
	top: 0;
	right: 70%;
	width: 60vh;
	height: 30%;
	background: url(img/cat.png) center no-repeat;
	background-size: contain;
	-webkit-animation: cat 8s infinite;
	        animation: cat 8s infinite;
}
@-webkit-keyframes cat {
	0%, 100% {
		-webkit-transform: translate(-15%,-3%);
		        transform: translate(-15%,-3%);
	}
	50% {
		-webkit-transform: translate(10%,3%);
		        transform: translate(10%,3%);
	}
}
@keyframes cat {
	0%, 100% {
		-webkit-transform: translate(-15%,-3%);
		        transform: translate(-15%,-3%);
	}
	50% {
		-webkit-transform: translate(10%,3%);
		        transform: translate(10%,3%);
	}
}

.content {
	position: relative;
	z-index: 11;
	width: 460px;
	height: 100%;
	margin: 0 0 0 40px;
}

.title {
	position: absolute;
	top: 7%;
	left: 0;
	height: 11%;
	width: 100%;
	background: url(img/title.png) left center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	text-indent: -5000px;
	overflow: hidden;
}

.description {
	position: absolute;
	top: 21.5%;
	left: 0;
	height: 11.5%;
	width: 100%;
	background: url(img/description.png) left center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	text-indent: -5000px;
	overflow: hidden;
}

.date {
	position: absolute;
	top: 41%;
	left: 0;
	height: 8.3%;
	width: 100%;
	background: url(img/date.png) left center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	text-indent: -5000px;
	overflow: hidden;
}

.btn {
	position: absolute;
	top: 58%;
	left: 0;
	padding: 0 2vh;
	font: 500 2.5vh/7vh Arial, Helvetica, sans-serif;
	color: #000;
	background: #F0FF00;
	transition: opacity 300ms;
}
.btn:hover {
	opacity: 0.8;
}

.logos {
	position: absolute;
	bottom: 3.4%;
	left: 0;
	width: 100%;
	height: 5.8%;
	background: url(img/logos.png) left center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	text-indent: -5000px;
	overflow: hidden;
}

@media screen and (max-width: 1000px) {
	.girl {
		background-position: 77% 50%;
	}
	.cat {
		right: 50%;
	}
}
@media screen and (max-width: 500px) {
	.image {
		left: 30vh;
	}
	.content {
		margin: 0;
	}
}