html, body { margin: 0; padding: 0; width: 100%; height: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-overflow-style: scrollbar;
}

html {font-size: 10px;}

.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: #000;
	background: #D0EEFF;
	overflow: hidden;
}

.inner {
	position: relative;
	min-width: 108vh;
	width: 108vh;
	height: 100%;
	text-decoration: none;
	background: -moz-linear-gradient(90deg,  #D0EEFF 0%, #AFBCFF 100%);
	background: -webkit-linear-gradient(90deg,  #D0EEFF 0%,#AFBCFF 100%);
	background: linear-gradient(90deg,  #D0EEFF 0%,#AFBCFF 100%);
}

.image {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-decoration: none;
	background: url(img/bg.png) 0 50% no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.box {
	position: relative;
	z-index: 3;
	width: 66vh;
	padding: 8vh 0 9vh;
}

.logo {
	position: relative;
	margin: 0 0 2.4vh;
	width: 100%;
	height: 11.2vh;
	background: url(img/logo.png) left center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	overflow: hidden;
	text-indent: -5000px;
}

.title {
	position: relative;
	margin: 0 0 0.8vh;
	font: 700 6vh/1.15 'Mail Sans Roman', 'TT Norms Pro', 'Proxima Nova', Arial, Helvetica, sans-serif;
}
.description {
	position: relative;
	margin: 0 0 3.4vh;
	font: 400 4vh/1.25 'Mail Sans Roman', 'TT Norms Pro', 'Proxima Nova', Arial, Helvetica, sans-serif;
	opacity: 0.6;
}
.note {
	font: 400 1vh/1.6 'Mail Sans Roman', 'TT Norms Pro', 'Proxima Nova', Arial, Helvetica, sans-serif;
	opacity: 0.6;
}

.btn,
.btn:hover {
	display: block;
	margin: 0 0 3.6vh;
	width: 28vh;
	height: 6vh;
	text-align: center;
	text-decoration: none;
	font: 400 3vh/6vh Arial, Helvetica, sans-serif;
	color: #fff;
	background: #000;
	-webkit-border-radius: 3vh;
	border-radius: 3vh;
	transition: background 300ms;
}
.btn:hover {
	background: #222;
}


.board {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	box-sizing: border-box;
	z-index: 5;
	max-width: 95vw;
	min-width: 70vh;
	margin: 0 4vh 0 0;
	padding: 1.4vh 8vh 1.3vh 2.5vh;
	-webkit-border-radius: 0.66vh;
	border-radius: 0.66vh;
	color: #fff;
	background: #F65121;
	transition: visibility 300ms, opacity 300ms;
}
.board.hide {
	visibility: hidden;
	opacity: 0;
}
.board-content {
	margin: 0 4.5vh 0 0;
	padding: 0.5vh 0;
}
.board-title {
	position: relative;
	margin: 0 0 0.6vh;
	font: 700 3.6vh/1.1 'Mail Sans Roman', 'TT Norms Pro', 'Proxima Nova', Arial, Helvetica, sans-serif;
}
.board-description {
	position: relative;
	font: 400 1.2vh/1.55 'Mail Sans Roman', 'TT Norms Pro', 'Proxima Nova', Arial, Helvetica, sans-serif;
}
.board-prize {
	display: block;
	position: relative;
	min-width: 20.5vh;
	width: 26vh;
	min-height: 10vh;
	height: 12.5vh;
	background: url(img/board-prize.png) center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.board-prize-left,
.board-prize-right {
	position: absolute;
	top: -1.45vh;
	right: 100%;
	width: 100%;
	height: 100%;
	padding: 1.45vh 0;
	background: url(img/board-bg-full-left.png) right no-repeat;
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
}
.board-prize-right {
	right: auto;
	left: 100%;
	background-image: url(img/board-bg-full-right.png);
	background-position: left;
}
.board-close {
	display: block;
	position: absolute;
	text-align: center;
	top: 1.5vh;
	right: 1.5vh;
	width: 1.9vh;
	height: 1.9vh;
	font: 400 2vh/1.9vh 'Times New Roman', Times, Arial, Helvetica, serif;
	border-radius: 50%;
	color: #50667B;
	background: #fff;
	cursor: pointer;
	transition: color 300ms;
}
.board-close:hover {
	color: #000;
}

@media screen and (max-width: 108vh) {
	.wrapper {
		justify-content: flex-start;
	}
}
@media screen and (max-width: 900px) {
	.board-prize-left {
		background-image: url(img/board-bg-left.png);
	}
	.board-prize-right {
		background-image: url(img/board-bg-right.png);
	}
}