html, body { margin: 0; padding: 0; width: 100%; height: 100%; position: relative; background: #FBFBFD;}

.bnr {
	display: block;
	overflow: hidden;
	position: relative;
	margin: 0;
	width: 300px;
	height: 300px;
	font-size: 0;
	border: 0;
	text-decoration: none;
	color: #000;
	background: #ffd12f;
	background: -moz-linear-gradient(top,  #ffd12f 0%, #ffd12f 23%, #ffaa00 100%);
	background: -webkit-linear-gradient(top,  #ffd12f 0%,#ffd12f 23%,#ffaa00 100%);
	background: linear-gradient(to bottom,  #ffd12f 0%,#ffd12f 23%,#ffaa00 100%);
}

.label {
	position: absolute;
	z-index: 11;
	bottom: 13px;
	right: 7px;
	width: 21px;
	height: 11px;
	background: url(img/12.png);
	-webkit-background-size: contain;
	background-size: contain;
	overflow: hidden;
}

.slide {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	opacity: 0;
}

.slide_1 {
	animation: slider 10s infinite;
	background-image: url(img/1.png);
}
.slide_2 {
	animation: slider2 10s infinite;
	background-image: url(img/2.png);
}
.slide_3 {
	animation: slider3 10s infinite;
	background-image: url(img/3.png);
}
.slide_4 {
	animation: slider4 10s infinite;
	background-image: url(img/4.png);
}

@keyframes slider {
	3%, 25% {
		opacity: 1;
	}
	28%, 100% {
		opacity: 0;
	}
}
@keyframes slider2 {
	28%, 38% {
		opacity: 1;
	}
	0%, 25%, 40%, 100% {
		opacity: 0;
	}
}
@keyframes slider3 {
	43%, 68% {
		opacity: 1;
	}
	0%, 40%, 72%, 100% {
		opacity: 0;
	}
}
@keyframes slider4 {
	73%, 97% {
		opacity: 1;
	}
	0%, 70%, 100% {
		opacity: 0;
	}
}