html, body { margin: 0; padding: 0; width: 100%; height: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-overflow-style: scrollbar;
}

html {font-size: 10px;}

.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background: #fff;
	overflow: hidden;
}

.inner {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	width: 666px;
	height: 100%;
	max-width: 100%;
	color: #000;
	background: url(img/bg.png) left center no-repeat;
	text-decoration: none;
}

.box {
	margin: 0 0 0 -170px;
	width: 670px;
	text-align: center;
}

.logo {
	margin: 0 auto 30px;
	width: 100%;
	height: 32px;
	background: url(img/logo.png) center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	text-indent: -5000px;
	overflow: hidden;
}

.title {
	position: relative;
	margin: 0 auto 15px;
	width: 100%;
	height: 160px;
	background: url(img/title.png) center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	font-size: 0;
	color: transparent;
}
.title:after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 100%;
	margin: 5px -8px;
	width: 12px;
	height: 15px;
	background: url(img/mouse.png) center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}

.description {
	margin: 0 auto 55px;
	width: 98%;
	font: 400 28px/1.21 'Proxima Nova', Arial, Helvetica, sans-serif;
}

.btn,
.btn:hover {
	margin: 0 auto 50px;
	width: 262px;
	height: 62px;
	text-align: center;
	text-decoration: none;
	font: 700 20px/62px Arial, Helvetica, sans-serif;
	color: #fff;
	background: #401BAA;
	border-radius: 8px;
	transition: background 300ms;
}
.btn:hover {
	background-color: #512CBB;
}

.disclaimer {
	margin: 0 auto;
	width: 98%;
	font: 400 10px/1.4 'Proxima Nova', Arial, Helvetica, sans-serif;
	opacity: 0.5;
}

@media screen and (max-width: 830px) {
	.box {
		margin: 0;
		width: 500px;
	}
	.title {
		height: 120px;
	}
}

@media screen and (max-width: 500px) {
	.inner {
		background: none;
	}
	.description {
		margin: 0 auto 25px;
		font-size: 22px;
	}
}