html, body { margin: 0; padding: 0; width: 100%; height: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-overflow-style: scrollbar;
}

html {font-size: 10px;}

.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background: #0061ff;
	background: -moz-linear-gradient(left,  #0061ff 0%, #1559c7 100%);
	background: -webkit-linear-gradient(left,  #0061ff 0%,#1559c7 100%);
	background: linear-gradient(to right,  #0061ff 0%,#1559c7 100%);
	overflow: hidden;
}

.inner {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	min-width: 91vh;
	width: 91vh;
	height: 100%;
	text-decoration: none;
	color: #fff;
	background: url(img/bg.png) 0 50% no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.box {
	position: relative;
	z-index: 3;
	width: 88vh;
	margin: 0 0 11vh;
}

.logo {
	position: relative;
	margin: 0 0 6.6vh;
	width: 100%;
	height: 3vh;
	background: url(img/logo.png) left center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	overflow: hidden;
	text-indent: -5000px;
}

.title {
	position: relative;
	margin: 0 0 3vh;
	font: 700 8vh/1.1 'Mail Sans Roman', 'TT Norms Pro', 'Proxima Nova', Arial, Helvetica, sans-serif;
}

.description {
	position: relative;
	margin: 0 0 3.5vh;
	font: 400 2.2vh/1.4 'Mail Sans Roman', 'TT Norms Pro', 'Proxima Nova', Arial, Helvetica, sans-serif;
}

.btn,
.btn:hover {
	display: block;
	width: 29.5vh;
	height: 7vh;
	text-align: center;
	text-decoration: none;
	font: 700 2.2vh/7vh 'Mail Sans Roman', Arial, Helvetica, sans-serif;
	color: #fff;
	background: #000;
	-webkit-border-radius: 1.4vh;
	border-radius: 1.4vh;
	transition: background 300ms;
}
.btn:hover {
	background: #222;
}

@media screen and (max-width: 91vh) {
	.wrapper {
		justify-content: flex-start;
	}
}