@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body, html {
  position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	cursor: pointer;
	color: #fff;
	border: 0;
}

.banner {
	display: block;
	position: relative;
	overflow: hidden;
	width: 240px;
	height: 400px;
	color: #1d4a91;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #3595d5 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%,#3595d5 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#3595d5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#3595d5',GradientType=0 );
	outline: 2px solid #486da6;
	outline-offset: -2px;
	text-decoration: none;
}
.banner::after {
	content: '';
	display: block;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../images/disklaimer.png) 50% 100% no-repeat;
	background-size: contain;
}


.title {
	position: absolute;
	bottom: 222px;
	left: 20px;
	right: 20px;
	color: #04439C;
	font: bold 17px/20px "Futura PT", Arial, sans-serif;
	text-transform: uppercase;
}

.region {
	position: absolute;
	top: 190px;
	left: 20px;
	right: 20px;
	text-align: right;
	color: #F40400;
	font: bold 17px/20px "Futura PT", Arial, sans-serif;
	text-transform: uppercase;
}


.slide {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 0;
	animation: slide 9s infinite;
}
.slide__2 {
	animation-delay: 3s;
	background-image: url(../images/slide_2.png);
}
.slide__3 {
	animation-delay: 6s;
	background-image: url(../images/slide_3.png);
}

@keyframes slide {
	3%, 30% {
		opacity: 1;
	}
	35%, 98% {
		opacity: 0;
	}
}
