html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#banner-html {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
}
#banner-html div {
  position: absolute;
}
#banner-html div:before {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#banner-html .ball {
  transform: translateY(0);
  animation: ball .5s linear both;
}

#banner-html .ball-1 {
  width: 23.4072%;
}
#banner-html .ball-1:before {
  content: '';
  display: block;
  padding-bottom: 107.69231%;
}
#banner-html .ball-1:before {
  background-image: url(./img/ball-1.png);
}
#banner-html .ball-2 {
  width: 23.2687%;
}
#banner-html .ball-2:before {
  content: '';
  display: block;
  padding-bottom: 107.7381%;
}
#banner-html .ball-2:before {
  background-image: url(./img/ball-2.png);
}
#banner-html .ball-3 {
  width: 23.13019%;
}
#banner-html .ball-3:before {
  content: '';
  display: block;
  padding-bottom: 107.78443%;
}
#banner-html .ball-3:before {
  background-image: url(./img/ball-3.png);
}



#banner-html .ball-pos-1 {
  left: 2%;
  top: 90%;
  animation-delay: 0.16s;
}
#banner-html .ball-pos-1:before {
  transform: rotateZ(19deg);
}
#banner-html .ball-pos-2 {
  left: 10%;
  top: 82%;
  animation-delay: 0.12s;
}
#banner-html .ball-pos-2:before {
  transform: rotateZ(105deg);
}
#banner-html .ball-pos-3 {
  left: 20%;
  top: 85%;
  animation-delay: 0.08s;
}
#banner-html .ball-pos-3:before {
  transform: rotateZ(39deg);
}
#banner-html .ball-pos-4 {
  left: 30%;
  top: 85%;
  animation-delay: 0.04s;
}
#banner-html .ball-pos-4:before {
  transform: rotateZ(346deg);
}
#banner-html .ball-pos-5 {
  left: 40%;
  top: 87%;
  animation-delay: 0s;
}
#banner-html .ball-pos-5:before {
  transform: rotateZ(220deg);
}
#banner-html .ball-pos-6 {
  left: 50%;
  top: 81%;
  animation-delay: 0.04s;
}
#banner-html .ball-pos-6:before {
  transform: rotateZ(3deg);
}
#banner-html .ball-pos-7 {
  left: 60%;
  top: 92%;
  animation-delay: 0.08s;
}
#banner-html .ball-pos-7:before {
  transform: rotateZ(358deg);
}
#banner-html .ball-pos-8 {
  left: 70%;
  top: 88%;
  animation-delay: 0.12s;
}
#banner-html .ball-pos-8:before {
  transform: rotateZ(359deg);
}
#banner-html .ball-pos-9 {
  left: 80%;
  top: 87%;
  animation-delay: 0.16s;
}
#banner-html .ball-pos-9:before {
  transform: rotateZ(48deg);
}
#banner-html .ball-pos-10 {
  left: 90%;
  top: 90%;
  animation-delay: 0.2s;
}
#banner-html .ball-pos-10:before {
  transform: rotateZ(174deg);
}
#banner-html .ball-pos-11 {
  left: 80%;
  top: 67.95367%;
  animation-delay: 0.24s;
}
#banner-html .ball-pos-11:before {
  transform: rotateZ(324deg);
}
#banner-html .ball-pos-12 {
  left: 23.2687%;
  top: 72.77992%;
  animation-delay: 0.28s;
}
#banner-html .ball-pos-12:before {
  transform: rotateZ(322deg);
}
#banner-html .ball-pos-13 {
  left: 73.4072%;
  top: 80%;
  animation-delay: 0.32s;
}
#banner-html .ball-pos-13:before {
  transform: rotateZ(52deg);
}
#banner-html .ball-pos-14 {
  left: 86.5651%;
  top: 65%;
  animation-delay: 0.36s;
}
#banner-html .ball-pos-14:before {
  transform: rotateZ(134deg);
}
#banner-html .ball-pos-15 {
  left: 78.25485%;
  top: 66.9305%;
  animation-delay: 0.4s;
}
#banner-html .ball-pos-15:before {
  transform: rotateZ(71deg);
}
#banner-html .ball-pos-16 {
  left: 3.47922%;
  top: 70.21236%;
  animation-delay: 0.44s;
}
#banner-html .ball-pos-16:before {
  transform: rotateZ(130deg);
}
#banner-html .ball-pos-17 {
  left: 4.43213%;
  top: 58.50579%;
  animation-delay: 0.48s;
}
#banner-html .ball-pos-17:before {
  transform: rotateZ(53deg);
}
#banner-html .ball-pos-18 {
  left: 10.80332%;
  top: 55.73359%;
  animation-delay: 0.52s;
}
#banner-html .ball-pos-18:before {
  transform: rotateZ(126deg);
}
#banner-html .ball-pos-19 {
  left: 35.31856%;
  top: 66.30888%;
  animation-delay: 0.56s;
}
#banner-html .ball-pos-19:before {
  transform: rotateZ(117deg);
}
#banner-html .ball-pos-20 {
  left: 22.85319%;
  top: 58.28185%;
  animation-delay: 0.6s;
}
#banner-html .ball-pos-20:before {
  transform: rotateZ(35deg);
}
#banner-html .ball-pos-21 {
  left: 60.38781%;
  top: 68.06564%;
  animation-delay: 0.64s;
}
#banner-html .ball-pos-21:before {
  transform: rotateZ(351deg);
}
#banner-html .ball-pos-22 {
  left: 40.91413%;
  top: 55.10039%;
  animation-delay: 0.68s;
}
#banner-html .ball-pos-22:before {
  transform: rotateZ(256deg);
}
#banner-html .ball-pos-23 {
  left: 1.10803%;
  top: 45.60232%;
  animation-delay: 0.72s;
}
#banner-html .ball-pos-23:before {
  transform: rotateZ(307deg);
}
#banner-html .ball-pos-24 {
  left: 23.4072%;
  top: 47.56757%;
  animation-delay: 0.76s;
}
#banner-html .ball-pos-24:before {
  transform: rotateZ(111deg);
}
#banner-html .ball-pos-25 {
  left: 23.2687%;
  top: 40.27799%;
  animation-delay: 0.8s;
}
#banner-html .ball-pos-25:before {
  transform: rotateZ(38deg);
}
#banner-html .ball-pos-26 {
  left: 2.07756%;
  top: 33.26255%;
  animation-delay: 0.84s;
}
#banner-html .ball-pos-26:before {
  transform: rotateZ(145deg);
}
#banner-html .ball-pos-27 {
  left: 65.78947%;
  top: 52.9305%;
  animation-delay: 0.88s;
}
#banner-html .ball-pos-27:before {
  transform: rotateZ(238deg);
}
#banner-html .ball-pos-28 {
  left: 88.64266%;
  top: 44.61004%;
  animation-delay: 0.92s;
}
#banner-html .ball-pos-28:before {
  transform: rotateZ(86deg);
}
#banner-html .ball-pos-29 {
  left: 60.24931%;
  top: 42.10425%;
  animation-delay: 0.96s;
}
#banner-html .ball-pos-29:before {
  transform: rotateZ(257deg);
}
#banner-html .ball-pos-30 {
  left: 16.6205%;
  top: 40.83398%;
  animation-delay: 1s;
}
#banner-html .ball-pos-30:before {
  transform: rotateZ(229deg);
}
#banner-html .ball-pos-31 {
  left: 54.43213%;
  top: 40.61004%;
  animation-delay: 1.04s;
}
#banner-html .ball-pos-31:before {
  transform: rotateZ(360deg);
}
#banner-html .ball-pos-32 {
  left: 5.67867%;
  top: 46.18533%;
  animation-delay: 1.08s;
}
#banner-html .ball-pos-32:before {
  transform: rotateZ(94deg);
}
#banner-html .ball-pos-33 {
  left: 51.66205%;
  top: 40.46332%;
  animation-delay: 1.12s;
}
#banner-html .ball-pos-33:before {
  transform: rotateZ(327deg);
}
#banner-html .ball-pos-34 {
  left: 38.22715%;
  top: 26.97683%;
  animation-delay: 1.16s;
}
#banner-html .ball-pos-34:before {
  transform: rotateZ(143deg);
}
#banner-html .ball-pos-35 {
  left: 79.50139%;
  top: 25.23552%;
  animation-delay: 1.2s;
}
#banner-html .ball-pos-35:before {
  transform: rotateZ(148deg);
}
#banner-html .ball-pos-36 {
  left: 39.33518%;
  top: 21.44402%;
  animation-delay: 1.24s;
}
#banner-html .ball-pos-36:before {
  transform: rotateZ(91deg);
}
#banner-html .ball-pos-37 {
  left: 16.759%;
  top: 26.96139%;
  animation-delay: 1.28s;
}
#banner-html .ball-pos-37:before {
  transform: rotateZ(211deg);
}
#banner-html .ball-pos-38 {
  left: 1.10803%;
  top: 22.67954%;
  animation-delay: 1.32s;
}
#banner-html .ball-pos-38:before {
  transform: rotateZ(36deg);
}
#banner-html .ball-pos-39 {
  left: 31.16343%;
  top: 23.04633%;
  animation-delay: 1.36s;
}
#banner-html .ball-pos-39:before {
  transform: rotateZ(347deg);
}
#banner-html .ball-pos-40 {
  left: 16.06648%;
  top: 24.98842%;
  animation-delay: 1.4s;
}
#banner-html .ball-pos-40:before {
  transform: rotateZ(151deg);
}
#banner-html .ball-pos-41 {
  left: 70.49861%;
  top: 12.03089%;
  animation-delay: 1.44s;
}
#banner-html .ball-pos-41:before {
  transform: rotateZ(352deg);
}
#banner-html .ball-pos-42 {
  left: 76.31579%;
  top: 16.33205%;
  animation-delay: 1.48s;
}
#banner-html .ball-pos-42:before {
  transform: rotateZ(358deg);
}
#banner-html .ball-pos-43 {
  left: 60.68975%;
  top: 29.48263%;
  animation-delay: 1.52s;
}
#banner-html .ball-pos-43:before {
  transform: rotateZ(33deg);
}
#banner-html .ball-pos-44 {
  left: 74.79224%;
  top: 18.72201%;
  animation-delay: 1.56s;
}
#banner-html .ball-pos-44:before {
  transform: rotateZ(297deg);
}
#banner-html .ball-pos-45 {
  left: 73.13019%;
  top: 33.72973%;
  animation-delay: 1.6s;
}
#banner-html .ball-pos-45:before {
  transform: rotateZ(146deg);
}
#banner-html .ball-pos-46 {
  left: 9.8338%;
  top: 17.20077%;
  animation-delay: 1.64s;
}
#banner-html .ball-pos-46:before {
  transform: rotateZ(204deg);
}
#banner-html .ball-pos-47 {
  left: 52.49307%;
  top: 11.84556%;
  animation-delay: 1.68s;
}
#banner-html .ball-pos-47:before {
  transform: rotateZ(160deg);
}
#banner-html .ball-pos-48 {
  left: 17.86704%;
  top: 14.05405%;
  animation-delay: 1.72s;
}
#banner-html .ball-pos-48:before {
  transform: rotateZ(344deg);
}
#banner-html .ball-pos-49 {
  left: 37.39612%;
  top: 15.48263%;
  animation-delay: 1.76s;
}
#banner-html .ball-pos-49:before {
  transform: rotateZ(197deg);
}
#banner-html .ball-pos-50 {
  left: 17.59003%;
  top: 4.69498%;
  animation-delay: 1.8s;
}
#banner-html .ball-pos-50:before {
  transform: rotateZ(252deg);
}
#banner-html .ball-pos-51 {
  left: 46.6759%;
  top: 2.139%;
  animation-delay: 1.84s;
}
#banner-html .ball-pos-51:before {
  transform: rotateZ(199deg);
}
#banner-html .ball-pos-52 {
  left: 77.14681%;
  top: 8.54054%;
  animation-delay: 1.88s;
}
#banner-html .ball-pos-52:before {
  transform: rotateZ(325deg);
}
#banner-html .ball-pos-53 {
  left: 1.24654%;
  top: 6.88803%;
  animation-delay: 1.92s;
}
#banner-html .ball-pos-53:before {
  transform: rotateZ(328deg);
}
#banner-html .ball-pos-54 {
  left: 14.40443%;
  top: -1.37838%;
  animation-delay: 1.96s;
}
#banner-html .ball-pos-54:before {
  transform: rotateZ(23deg);
}
#banner-html .ball-pos-55 {
  left: 34.27701%;
  top: 3.12355%;
  animation-delay: 2s;
}
#banner-html .ball-pos-55:before {
  transform: rotateZ(155deg);
}
#banner-html .ball-pos-56 {
  left: 80.88643%;
  top: -2.05792%;
  animation-delay: 2.04s;
}
#banner-html .ball-pos-56:before {
  transform: rotateZ(17deg);
}
#banner-html .ball-pos-57 {
  left: 59.00277%;
  top: -1.97683%;
  animation-delay: 2.08s;
}
#banner-html .ball-pos-57:before {
  transform: rotateZ(90deg);
}
#banner-html .ball-pos-58 {
  left: 31.02493%;
  top: -1.52124%;
  animation-delay: 2.12s;
}
#banner-html .ball-pos-58:before {
  transform: rotateZ(298deg);
}
#banner-html .ball-pos-59 {
  left: 26.31579%;
  top: -3.38996%;
  animation-delay: 2.16s;
}
#banner-html .ball-pos-59:before {
  transform: rotateZ(57deg);
}
#banner-html .ball-pos-60 {
  left: 2.36011%;
  top: -2.42471%;
  animation-delay: 2.2s;
}
#banner-html .ball-pos-60:before {
  transform: rotateZ(127deg);
}


#banner-html .bg {
  width: 100%;
  height: 100%;
  background-color: #00b956;
  animation: bg 1s ease both 2.5s;
}
#banner-html .sign {
  left: 50%;
  top: 50%;
  animation: sign 1s ease both 3s;
  width: 145.01385%;
}
#banner-html .sign:before {
  content: '';
  display: block;
  padding-bottom: 34.47947%;
}
#banner-html .sign:before {
  background-image: url(./img/sign.png);
}
#banner-html .text {
  width: 84.07202%;
  left: 6.92521%;
  top: 7.62548%;
}
#banner-html .text:before {
  content: '';
  display: block;
  padding-bottom: 35.09061%;
}
#banner-html .text:before {
  transform: rotateZ(0deg);
}
#banner-html .text:before {
  background-image: url(./img/text.png);
}
#banner-html .logo {
  width: 40.58172%;
  left: 6.92521%;
  top: 86.67954%;
}
#banner-html .logo:before {
  content: '';
  display: block;
  padding-bottom: 26.62116%;
}
#banner-html .logo:before {
  transform: rotateZ(0deg);
}
#banner-html .logo:before {
  background-image: url(./img/logo.png);
}
#banner-html .text, #banner-html .logo {
  animation: text 1s ease both 3s;
}

@keyframes ball {
  from {
    opacity: 0;
    transform: translateY(-1000px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes bg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes sign {
  from {
    transform: translate(-50%, -50%) scale(0.01);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
@keyframes text {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
