html, body { margin: 0; padding: 0; width: 100%; height: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-overflow-style: scrollbar;
}

html {font-size: 10px;}

.wrapper {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	color: #fff;
	text-decoration: none;
	background: url(img/bg.jpg) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.content {
	position: absolute;
	top: 5vh;
	bottom: 8vh;
	left: 5vw;
	right: 5vw;
}
.image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(img/img.png) center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(img/text.png) center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.note {
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	font: 400 1.2vh/1.2 Arial, Helvetica, sans-serif;
}