html, body { margin: 0; padding: 0; width: 100%; height: 100%; color: #000; background: #DDE3E8; overflow: hidden; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -ms-overflow-style: scrollbar;}

.banner {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #DDE3E8 url(img/bg.png) center bottom no-repeat;
	-webkit-background-size: auto 53%;
	background-size: auto 53%;
}

.content {
	position: absolute;
	top: 25%;
	left: 50%;
	width: 464px;
	max-width: 96%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

.title {
	display: block;
	margin: 0 0 0.5em;
	font: 400 32px/1.3 'Proxima Nova', Arial, Helvetica, sans-serif;
}

.description {
	display: block;
	margin: 0 1em 1.3em 0;
	font: 400 18px/1.3 'Proxima Nova', Arial, Helvetica, sans-serif;
	color: #999;
}

.form {
	display: block;
	width: 100%;
}
.form_input {
	float: left;
	width: 60%;
}
.form_input input {
	display: block;
	box-sizing: border-box;
	margin: 0;
	padding: 0 15px;
	width: 100%;
	height: 48px;
	font: 400 18px/1.1 'Proxima Nova', Arial, Helvetica, sans-serif;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15);
	color: #000;
	border: 0;
	border-radius: 4px 0 0 4px;
}
.form_input input:focus {
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.3);
}
.form_submit {
	float: right;
	margin: 0;
	padding: 0;
	width: 40%;
}
.form_submit button {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 48px;
	font: 700 17px/1.1 'Proxima Nova', Arial, Helvetica, sans-serif;
	color: #fff;
	background: #1066F9;
	border: 0;
	border-radius: 0 4px 4px 0;
}

.phone {
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 50%;
	background: url(img/phone.png) center bottom no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}


@media screen and (max-width: 500px), screen and (max-height: 600px) {
	.content {
		width: 350px;
	}
	.title {
		font-size: 28px;
	}
	.description {
		font-size: 16px;
		margin: 0 0 1.3em;
	}
	.form_input {
		width: 53%;
	}
	.form_input input {
		height: 42px;
		font-size: 14px;
	}
	.form_submit {
		width: 47%;
	}
	.form_submit button {
		height: 42px;
		font-size: 15px;
	}
}