html, body {
	position: relative;
	width: 100%;
	height: 100%;
	min-width: 940px;
	margin: 0;
	padding: 0;
	background: transparent;
}

.banner {
	position: absolute;
	display: block;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 120px;
	min-width: 940px;
	overflow: hidden;
	background: url(img/bg.png) center no-repeat;
	background-size: auto 100%;
}

.link {
	display: block;
	position: relative;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.loader {
	position: absolute;
	top: 99%;
	left: 0;
	width: 1px;
	height: 1px;
	opacity: 0;
	overflow: hidden;
}
.loader img {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

.text {
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: url(img/text.png) center no-repeat;
	background-size: auto 100%;
}

.box {
	position: absolute;
	z-index: 3;
	top: 0;
	left: 50%;
	margin: 0 0 0 125px;
	width: 440px;
	height: 100%;
}

.tap {
	position: absolute;
	z-index: 5;
	top: 0;
	left: 135px;
	width: 90px;
	height: 100%;
	background: url(img/tap.png) center no-repeat;
	background-size: cover;
}

.water {
	position: absolute;
	z-index: 6;
	width: 100%;
	height: 100%;
	background: url(img/water1.png) center no-repeat;
	background-size: cover;
	animation: water 6s linear infinite;
}

.glasses {
	position: absolute;
	z-index: 7;
	top: 23px;
	left: 0;
	width: 100%;
	height: 81px;
	animation: slide 6s linear infinite;
}

.glass {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 81px;
	background: url(img/glass1.png) center / contain no-repeat;
	transition: transform 500ms;
}

.glass0 {
	left: -80px;
	animation: glass0 6s linear infinite;
}
.glass1 {
	left: 0;
}
.glass2 {
	left: 80px;
}
.glass3 {
	left: 160px;
	background-image: url(img/glass5.png);
	animation: glass3 6s linear infinite;
}
.glass4 {
	left: 240px;
	background-image: url(img/glass5.png);
}
.glass5 {
	left: 320px;
	background-image: url(img/glass5.png);
}
.glass6 {
	left: 400px;
	background-image: url(img/glass5.png);
	animation: glass6 6s linear infinite;
}



@keyframes water {
	0%, 20% {
		background-image: url(img/water1.png);
	}
	21%, 40% {
		background-image: url(img/water2.png);
	}
	41%, 60% {
		background-image: url(img/water3.png);
	}
	61%, 80% {
		background-image: url(img/water4.png);
	}
	81%, 100% {
		background-image: none;
	}
}

@keyframes slide {
	0%, 80% {
		transform: translateX(0px)
	}
	100% {
		transform: translateX(80px)
	}
}

@keyframes glass0 {
	0%, 40% {
		opacity: 0;
	}
	60%, 100% {
		opacity: 1;
	}
}
@keyframes glass3 {
	0%, 20% {
		background-image: url(img/glass1.png);
	}
	21%, 40% {
		background-image: url(img/glass2.png);
	}
	41%, 60% {
		background-image: url(img/glass3.png);
	}
	61%, 80% {
		background-image: url(img/glass4.png);
	}
	81%, 100% {
		background-image: url(img/glass5.png);
	}
}
@keyframes glass6 {
	0%, 40% {
		opacity: 1;
	}
	60%, 100% {
		opacity: 0;
	}
}