@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, html {
  position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	cursor: pointer;
	color: #fff;
	border: 0;
}

.banner {
	display: block;
	position: relative;
	overflow: hidden;
	width: 300px;
	height: 300px;
	color: #1d4a91;
	background: #f9eca4  url(../images/bg.jpg) center no-repeat;
	background-size: cover;
	text-decoration: none;
}


.percent {
	position: absolute;
	top: 82px;
	left: 5px;
	right: 5px;
	transform: translateY(-50%);
	color: #004486;
	text-align: center;
	font: normal 15px/1.1 "OpenSans", Arial, sans-serif;
	letter-spacing: -0.1px;
	white-space: nowrap;
}

.region {
	position: absolute;
	top: 214px;
	left: 50%;
	box-sizing: border-box;
	padding: 6px 10px 7px;
	height: 26px;
	max-width: 280px;
	transform: translateX(-50%);
	text-align: center;
	white-space: nowrap;
	color: #fff;
	background: #74b633;
	border-radius: 20px;
	font: normal 13px/1 "OpenSans", Arial, sans-serif;
	overflow: hidden;
}


.logo_fenistil {
	display: block;
	position: absolute;
	z-index: 0;
	top: 17px;
	left: 13px;
	width: 110px;
	height: 35px;
	background: url(../images/logo_fenistil.png) center no-repeat;
	background-size: contain;
}

.logo_prognoz {
	display: block;
	position: absolute;
	z-index: 0;
	top: 6px;
	right: 35px;
	width: 133px;
	height: 50px;
	background: url(../images/logo_prognoz.png) center no-repeat;
	background-size: contain;
}


.pack {
	display: block;
	position: absolute;
	z-index: 0;
	top: 105px;
	left: 0;
	width: 100%;
	height: 37px;
	background: url(../images/pack.png) center no-repeat;
	background-size: contain;
}

.komar {
	display: block;
	position: absolute;
	z-index: 0;
	top: 177px;
	left: 50%;
	width: 53px;
	height: 53px;
	transform: translate(-50%,-50%);
	background: #74b633 url(../images/komar.png) center no-repeat;
	background-size: contain;
	border-radius: 50%;
}
.banner_color2 .region,
.banner_color2 .komar {
	background-color: #F67309;
}
.banner_color3 .region,
.banner_color3 .komar {
	background-color: #DB0021;
}

/* anim */

.komar {
	opacity: 0;
	transform: translate(-50%,-50%) scale(0) rotate(-180deg);
	animation: komar 1s both;
}
@keyframes komar {
	0 {
		opacity: 0;
		transform: translate(-50%,-50%) scale(0) rotate(-180deg);
	}
	100% {
		opacity: 1;
		transform: translate(-50%,-50%) scale(1) rotate(0deg);
	}
}

.region {
	color: transparent;
	transform: translateX(-50%);
	max-width: 0;
	opacity: 0;
	animation: region ease-in 0.75s 0.75s both;
}
@keyframes region {
	0 {
		color: transparent;
		transform: translateX(-50%);
		max-width: 0;
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	80% {
		color: transparent;
	}
	100% {
		opacity: 1;
		color: #fff;
		transform: translateX(-50%);
		max-width: 200px;
	}
}

.pack {
	opacity: 0;
	animation: pack 1s 1.5s both;
	transform: scale(0);
}
@keyframes pack {
	0 {
		opacity: 0;
		transform: scale(0);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.percent {
	opacity: 0;
	animation: percent 1.5s 1s both;
}
@keyframes percent {
	0 {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.logo_prognoz {
	opacity: 0;
	animation: prognoz 1s both;
}
@keyframes prognoz {
	0 {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}