html, body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: transparent;
}

#html_banner {
	position: relative;
	display: block;
	width: 100%;
	height: 100px;
	overflow: hidden;
}

#html_banner .link {
	display: block;
	position: relative;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateY(100px);
	transition: transform 100ms linear;
}

#html_banner .bg {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(img/bg.png) center no-repeat;
	background-size: auto 100%;
}

#html_banner .cars {
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(img/cars.png) center no-repeat;
	background-size: auto 100%;
	transform: translate(-150px,100px);
	transition: transform 100ms linear;
}

#html_banner .title {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(img/title.png) center no-repeat;
	background-size: auto 100%;
	transform: translateY(100px);
	transition: transform 100ms linear;
}