html, body {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    font: 11px/1.2 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    cursor: pointer;
    color: #fff;
    background: transparent;
    border: 0;
}

.banner {
    overflow: hidden;
    width: 100%;
}

.slider {
    position: relative;
    margin: 0 auto;
    height: auto;
    margin: 0 0 -30px;
    padding: 0 3px 30px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    font-size: 0;
    vertical-align: top;
    white-space: nowrap;
}

.item {
    position: relative;
    display: inline-block;
    width: 44vw;
    box-sizing: border-box;
    padding: 0 7px;
    vertical-align: top;
    text-decoration: none;
}
.item:before,
.item:after {
    content: '';
    position: absolute;
    z-index: 15;
    top: 0;
    left: 0;
    width: 14px;
    height: 100%;
    margin: 0 -7px;
    background: #e5e5e5;
}
.item:after {
    left: auto;
    right: 0;
}
@media (max-width: 375px) {
    .item {
        padding: 0 6px;
    }
    .item:before {
        width: 12px;
        margin: 0 -6px;
    }
}
@media (max-width: 325px) {
    .item {
        padding: 0 5px;
    }
    .item:before {
        width: 10px;
        margin: 0 -5px;
    }
}

.item__img {
    position: relative;
    /* overflow: hidden; */
    height: 0;
    padding-bottom: 85%;
    background: #7B41C0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
}
.item_1 .item__img {
    background-image: url('../images/1_bg.jpg');
}
.item_2 .item__img {
    background-image: url('../images/2_bg.jpg');
}
.item_3 .item__img {
    background-image: url('../images/3_bg.jpg');
}
.item_4 .item__img {
    background-image: url('../images/4_bg.png');
}
.item_5 .item__img {
    background-image: url('../images/5_bg.png');
}

.item__text {
    width: 100%;
    height: 11vw;
    box-sizing: border-box;
    padding: 7%;
    background: #fff;
    font-size: 2.8vw;
    line-height: 1.2;
    white-space: normal;
    color: black;
    border: 1px solid #efefef;
    border-top: none;
}

.logo {
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: url('../images/logo.png') no-repeat center;
    background-size: contain;
}

.autumn,
.autumn_2 {
    position: absolute;
    z-index: 11;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-image: url('../images/autumn.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateX(-10%);
}
.autumn_2 {
    transform: translateX(-50%);
    background-image: url('../images/autumn_2.png');
}


.car {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 128%;
    height: 100%;
    background: url('../images/car.png') no-repeat center;
    background-size: contain;
    -webkit-backface-visibility: hidden;
    transform: translateX(-85%);
}

.wheel {
    content: '';
    display: block;
    position: absolute;
    bottom: 4.5%;
    left: 15%;
    width: 12%;
    height: 16%;
	background: url('../images/wheel.png') center no-repeat;
	background-size: contain;
}
.wheel_2 {
    left: 75%;
}


/* animation */

.run .autumn {
    animation: autumn 5s ease-in-out 1s infinite;
}
@keyframes autumn {
    0%, 15%, 85%, 100% {
        transform: translateX(-10%);
    }
    40%, 60% {
        transform: translateX(40%);
    }
}
.run .autumn_2 {
    animation: autumn_2 5s ease-in-out 1s infinite;
}
@keyframes autumn_2 {
    0%, 15%, 85%, 100% {
        transform: translateX(-50%);
    }
    40%, 60% {
        transform: translateX(-40%);
    }
}


.run .car {
    animation: car 5s ease-in-out 1s infinite;
}
@keyframes car {
    0%, 5%, 95%, 100% {
        transform: translateX(-85%);
    }
    40%, 60% {
        transform: translateX(135%);
    }
}

.run .wheel {
    animation: wheel 5s ease-in-out 1s infinite;
}
@keyframes wheel {
    0%, 5%, 95%, 100% {
        transform: rotate(0deg);
    }
    40%, 60% {
        transform: rotate(1500deg);
    }
}


.run .logo {
    animation: logo 5s ease-in-out 1s infinite;
}
@keyframes logo {
    0%, 10%, 70%, 100% {
        transform: translateY(0%) scale(1);
    }
    20%, 60% {
        transform: translateY(-8%) scale(1.5);
    }
}
