html, body { margin: 0; padding: 0; width: 100%; height: 100%; background: transparent; overflow: hidden; }

.banner {
	position: relative;
	width: 300px;
	height: 300px;
	overflow: hidden;
}

.link {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	color: #fff;
	text-decoration: none;
	background: url(img/bg.jpg) center no-repeat;
	background-size: cover;
}

.title {
	position: absolute;
	z-index: 10;
	top: 25px;
	left: 0;
	width: 100%;
	height: 25px;
	background: url(img/title.png) center no-repeat;
	background-size: contain;
}

.btn {
	position: absolute;
	z-index: 11;
	bottom: 30px;
	left: 50%;
	margin: 0 0 0 -90px;
	width: 180px;
	height: 46px;
	background: #ffcc02 url(img/btn.png) center no-repeat;
	background-size: contain;
	border-radius: 23px;
	transition: background 300ms;
}
.btn:hover {
	background-color: #ffd428;
}

.track {
	position: absolute;
	z-index: 5;
	top: 80px;
	left: 50%;
	margin: 0 0 0 -131px;
	width: 262px;
	height: 42px;
	background: url(img/track.png) center no-repeat;
	background-size: contain;
}

.value {
	position: absolute;
	z-index: 5;
	top: 50%;
	left: 50%;
	margin: -26px 0 0 -5px;
	width: 10px;
	height: 52px;
	background: #fff;
	border-radius: 5px;
	transform: translateX(-90px);
	transition: transform 500ms ease-in-out;
}
.track_1 .value {
	transform: translateX(-90px);
}
.track_2 .value {
	transform: translateX(0);
}
.track_3 .value {
	transform: translateX(90px);
}

.text {
	position: absolute;
	z-index: 5;
	top: 57px;
	left: 50%;
	margin: 0 0 0 -50px;
	width: 100px;
	height: 68px;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 0;
	transition: opacity 300ms 200ms;
}
.text_1 {
	transform: translateX(-90px);
	background-image: url(img/3.png);
}
.track_1 .text_1 {
	opacity: 1;
}
.text_2 {
	background-image: url(img/5.png);
	animation-delay: 2s;
}
.track_2 .text_2 {
	opacity: 1;
}
.text_3 {
	transform: translateX(90px);
	background-image: url(img/7.png);
	animation-delay: 4s;
}
.track_3 .text_3 {
	opacity: 1;
}