html, body { margin: 0; padding: 0; width: 100%; height: 100%; position: relative; background: #FBFBFD;}

.bnr {
	display: block;
	overflow: hidden;
	position: relative;
	margin: 0;
	width: 240px;
	height: 400px;
	font-size: 0;
	border: 0;
	text-decoration: none;
	color: #000;
	background: #0053D9;
}

.label {
	position: absolute;
	z-index: 15;
	top: 13px;
	left: 7px;
	width: 21px;
	height: 11px;
	background: url(img/12.png);
	-webkit-background-size: contain;
	background-size: contain;
	overflow: hidden;
}

.cloud {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(img/back.png) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.cloud_front {
	z-index: 11;
	background-image: url(img/front.png);
}

.logo {
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(img/logo.png) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	opacity: 0;
	transform: translateY(69%);
}
.bnr.hover .logo {
	animation: logo 13s infinite;
}
@keyframes logo {
	0%, 70%, 100% {
		transform: translateY(69%);
		opacity: 0;
	}
	20%, 35% {
		transform: translateY(0);
		opacity: 1;
	}
	40% {
		transform: translateY(0);
		opacity: 0;
	}
}

.text {
	position: absolute;
	z-index: 9;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(img/text.png) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	transform: translateY(0px);
}
.bnr.hover .text {
	animation: text 13s infinite;
}
@keyframes text {
	3%, 40%, 72%, 98% {
		opacity: 0;
		transform: translateY(0px);
	}
	0%, 100% {
		opacity: 1;
		transform: translateY(0px);
	}
	42%, 69% {
		opacity: 1;
		transform: translateY(30px);
	}
}

.icons {
	position: absolute;
	z-index: 15;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(img/icons.png) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	opacity: 0;
}
.bnr.hover .icons {
	animation: icons 13s infinite;
}
@keyframes icons {
	0%, 69%, 97%, 100% {
		opacity: 0;
	}
	72%, 94% {
		opacity: 1;
	}
}

.air {
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	width: 70px;
	height: 55px;
	background: url(img/air.png) center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	transform: translate(0px,225px);
}
.bnr.hover .air {
	animation: air 13s infinite;
}
@keyframes air {
	0%, 100% {
		transform: translate(0px,225px);
	}
	18%, 94.99% {
		transform: translate(300px,-50px);
	}
	95% {
		transform: translate(-100px,330px);
	}
}