#do_gamma {
	display: block;
	position: absolute;
	z-index: 111;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100px;
	padding: 10px;
	font-size: 20px;
	line-height: 1;
	color: #000;
	background: #fff;
	text-align: center;
	border: 0;
}


html, body { margin: 0; padding: 0; width: 100%; height: 100%; background: transparent; }

#html_banner {
	overflow: hidden;
	position: fixed;
	z-index: 1111;
	top: 0;
	left: 0;
	text-align: center;
	margin: 0;
	width: 100%;
	height: 100%;
	font-size: 0;
}

#html_banner .html_banner_link {display:block; position: relative; width:100%; height:100%; text-decoration: none;}

.html_banner_dinam {
	position: absolute;
	z-index: 11;
	top: 55%;
	left: 50%;
	margin: -23.5vw;
	width: 47vw;
	height: 47vw;
	background: url(img/dinam.png) center no-repeat;
	background-size: contain;
	border-radius: 50%;
	overflow: hidden;
	transform: scale(1) translate(0,0);
	animation: dinam ease-in-out 2s both;
}

.html_banner_bg {
	position: absolute;
	z-index: 0;
	top: 40%;
	left: 50%;
	margin: -15vw;
	width: 30vw;
	height: 30vw;
	background: #00b956;
	border-radius: 50%;
	opacity: 0;
	animation: bg ease-in-out 2s 0.3s both;
}

.html_banner_circle {
	position: absolute;
	z-index: 11;
	top: 55%;
	left: 0;
	margin: -26vw -50vw;
	width: 47vw;
	height: 47vw;
	background: #731982;
	border-radius: 0 50% 50% 0;
	animation: circle ease-in-out 1s 1s both;
}
.html_banner_circle__2 {
	left: auto;
	right: 0;
	border-radius: 50% 0 0 50%;
}


.html_banner_title_1 {
	display: block;
	position: absolute;
	z-index: 11;
	top: 4.2%;
	left: 0;
	width: 100vw;
	height: 9.75%;
	background: url(img/title_1.png) center no-repeat;
	background-size: contain;
	animation: slide ease-in-out 1s 1.5s both;
	opacity: 0;
}

.html_banner_title_2 {
	display: block;
	position: absolute;
	z-index: 11;
	top: 15.3%;
	left: 0;
	width: 100vw;
	height: 2.85%;
	background: url(img/title_2.png) center no-repeat;
	background-size: contain;
	animation: slide ease-in-out 1s 1.7s both;
	opacity: 0;
}

.html_banner_btn {
	display: block;
	position: absolute;
	z-index: 11;
	top: 20%;
	left: 0;
	width: 100vw;
	height: 7.33%;
	background: url(img/btn.png) center no-repeat;
	background-size: contain;
	animation: slide ease-in-out 1s 1.8s both;
	opacity: 0;
}


.html_banner_bottom {
	position: absolute;
	z-index: 11;
	bottom: 2%;
	left: 0;
	width: 100vw;
	height: 17.3%;
	background: url(img/bottom.png) center no-repeat;
	background-size: contain;
	animation: fadein 1s 2s both;
	opacity: 0;
}


.html_banner_uma {
	position: absolute;
	z-index: 11;
	top: 15%;
	left: -10%;
	width: 120vw;
	height: 66%;
	transform: translateX(150vw);
	overflow: hidden;
	background: url(img/sequence/sequence_18.png) center no-repeat;
	background-size: contain;
	animation: uma ease-in-out 0.6s 0.3s both;
}

/**/

@keyframes dinam {
	0% {opacity: 0; transform: scale(0.1); top: 30%; left: 30%;}
	10% {opacity: 1;}
	30%, 50% {opacity: 1; transform: scale(2.5); top: 40%; left: 50%;}
	100% { opacity: 1; transform: scale(1); top: 55%; left: 50%;}
}

@keyframes bg {
	0% {opacity: 0; transform: scale(1);}
	30% {opacity: 1;}
	100% { opacity: 1; transform: scale(10);}
}

@keyframes circle {
	0% {transform: scale(2.5); top: 40%; margin: -23.5vw -100vw;}
	100% {transform: scale(1); top: 55%; margin: -23.5vw -26vw;}
}

@keyframes fadein {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes slide {
	0% {opacity: 0; transform: translateX(15vw);}
	100% {opacity: 1; transform: translateX(0);}
}

@keyframes uma {
	0% {transform: translateX(150vw);}
	100% {transform: translateX(0);}
}
