html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background: #fbfbfd;
}

.bnr {
  display: block;
  overflow: hidden;
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  min-width: 300px;
  min-height: 250px;
  font-size: 0;
  color: #000;
  background: #d8dcde url(img/bg.png) top / contain no-repeat;
  text-decoration: none;
  border: 0;
}

.logo {
  position: absolute;
  display: block;
  top: 5vw;
  width: 100%;
  height: 10vw;
  background: url(img/logo.png) center / contain no-repeat;
}

.button {
  position: absolute;
  display: block;
  bottom: 6.6vw;
  left: 50%;
  padding: 2vw 4vw;
  font: bold 3.8vw/1 Arial, Helvetica, sans-serif;
  border-radius: 5vw;
  transform: translateX(-50%);
  color: #fff;
  background: #46cb19;
  transition: background 300ms;
}
.button:hover {
  background: #3dac18;
}

.disclaimer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font: bold 2.4vw/2 Arial, Helvetica, sans-serif;
  opacity: 0.5;
}

.limit {
  position: absolute;
  top: 1vw;
  right: 1vw;
  font: normal 4vw/1 Arial, Helvetica, sans-serif;
  opacity: 0.5;
}

.coin {
  position: absolute;
  z-index: 5;
  top: 7vw;
  left: 20vw;
  width: 60vw;
  height: 60vw;
}
.coin_item {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  animation: coin-rotate 3s infinite;

  -webkit-transform: translateZ(0);
  will-change: opacity;
}
.coin_item_1 {
  animation: coin 3s infinite;
}
.coin_item_2 {
  animation-delay: 60ms;
}
.coin_item_3 {
  animation-delay: 120ms;
}
.coin_item_5 {
  animation-delay: 180ms;
}
.coin_item_6 {
  animation-delay: 240ms;
}
.coin_item_7 {
  animation-delay: 300ms;
}
.coin_item_8 {
  animation-delay: 360ms;
}
.coin_item_9 {
  animation-delay: 420ms;
}

@keyframes coin {
  0%,
  2%,
  17%,
  100% {
    opacity: 1;
  }
  3%,
  16% {
    opacity: 0;
  }
}
@keyframes coin-rotate {
  0%,
  2% {
    opacity: 1;
  }
  3%,
  100% {
    opacity: 0;
  }
}

.title {
  position: absolute;
  bottom: 17vw;
  left: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font: bold 7vw/1 Arial, Helvetica, sans-serif;
  font-style: italic;
}
.title_item {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  animation: title 9s infinite;
  transform: translateX(-100%);
}
.title_item_2 {
  animation-delay: 3s;
}
.title_item_3 {
  animation-delay: 6s;
}

@keyframes title {
  0% {
    transform: translateX(-100%);
  }
  9%,
  33% {
    transform: translateX(0%);
  }
  42%,
  99.99% {
    transform: translateX(100%);
  }
}
