html, body {
	position: relative;
	width: 100%;
	height: 100%;
	min-width: 1000px;
	margin: 0;
	padding: 0;
	background: transparent;
}

.banner {
	position: relative;
	display: block;
	width: 100%;
	height: 100px;
	min-width: 1000px;
	overflow: hidden;
}

.link {
	display: block;
	position: relative;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.bg {
	position: absolute;
	z-index: 15;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 77px;
	background: url(img/bg.png) center bottom no-repeat;
	background-size: auto 100%;
}
.bg:before,
.bg:after {
	content: '';
	display: block;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 50%;
	width: 0%;
	height: 100%;
	margin: 0 619px;
	background: #FF181F;
	animation: bg 0.5s 1s both;
}
.bg:after {
	left: auto;
	right: 50%;
}
@keyframes bg {
    0% { width: 0; }
    100% { width: 100%; }
}

.title {
	position: absolute;
	z-index: 15;
	bottom: 10px;
	left: 50%;
	margin-left: -125px;
	width: 250px;
	height: 60px;
	background: url(img/title.png) center bottom no-repeat;
	background-size: contain;
	opacity: 0;
	animation: title 7s 0.2s both;
}
@keyframes title {
    0%, 49% { transform: translateX(-60px); opacity: 0; }
    51%, 61.5% { transform: translateX(-45px); opacity: 0.3; }
    63.5%, 74% { transform: translateX(-30px); opacity: 0.5; }
    76%, 86.5% { transform: translateX(-15px); opacity: 0.8; }
    88.5%, 100% { transform: translateX(-0px); opacity: 1; }
}

.cat {
	position: absolute;
	z-index: 15;
	bottom: 0;
	left: 50%;
	margin-left: 270px;
	width: 132px;
	height: 100px;
	background: url(img/cat.png) center bottom no-repeat;
	background-size: contain;
	transform: translateX(-600px);
	animation: cat 7s 0.2s both;
}
@keyframes cat {
    0%, 11.5%  { transform: translateX(-700px); }
    13.5%, 24% { transform: translateX(-600px); }
    26%, 36.5% { transform: translateX(-500px); }
    38.5%, 49% { transform: translateX(-400px); }
    51%, 61.5% { transform: translateX(-300px); }
    63.5%, 74% { transform: translateX(-200px); }
    76%, 86.5% { transform: translateX(-100px); }
    88.5%, 100% { transform: translateX(-0px); }
}

.head {
	position: absolute;
	z-index: 15;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(img/head.png) center bottom no-repeat;
	background-size: contain;
	transform: rotate(3.5deg);
	animation: head 7s 0.2s both;
}
@keyframes head {
    0%, 11.5%  { transform: rotate(-3.5deg); }
    13.5%, 24% { transform: rotate(3.5deg); }
    26%, 36.5% { transform: rotate(-3.5deg); }
    38.5%, 49% { transform: rotate(3.5deg); }
    51%, 61.5% { transform: rotate(-3.5deg); }
    63.5%, 74% { transform: rotate(3.5deg); }
    76%, 86.5% { transform: rotate(-3.5deg); }
    88.5%, 100% { transform: rotate(3.5deg); }
}
