html, body { margin: 0; padding: 0; width: 100%; height: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-overflow-style: scrollbar;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.bnr {
	position: relative;
	width: 700px;
	height: 436px;
	font: 400 13px/1.55 'SF Pro Text', 'Proxima Nova', Arial, Helvetica, sans-serif;
	color: #333;
	background: #fff url(img/bg.png) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	overflow: hidden;
	box-shadow: 0 0 40px rgba(0,0,0,0.2);
}

.close {
	display: block;
	position: absolute;
	z-index: 15;
	top: 20px;
	right: 20px;
	width: 24px;
	height: 24px;
	background: url(img/close.png) center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	cursor: pointer;
	transition: opacity 300ms;
}
.close:hover {
	opacity: 0.7;
}

.notebook {
	display: block;
	position: absolute;
	z-index: 1;
	top: 125px;
	left: 0;
	width: 336px;
	height: 186px;
	background: url(img/notebook-mac.png) center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}

.header {
	position: absolute;
	z-index: 11;
	top: 35px;
	left: 340px;
}

.logo {
	margin: 0 0 -3px;
	width: 100px;
	height: 44.4px;
	background: url(img/logo.png) left no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	text-indent: -5000px;
	overflow: hidden;
}

.label {
	text-transform: uppercase;
	font: 500 11px/1 'SF Pro Text', 'Proxima Nova', Arial, Helvetica, sans-serif;
	letter-spacing: 1.5px;
	color: #828282;
}


.content {
	position: absolute;
	top: 130px;
	left: 340px;
	right: 20px;
	letter-spacing: 0.3px;
}

.title {
	margin: 0 0 10px;
	font: 600 18px/1.33 'SF Pro Display', 'Proxima Nova', Arial, Helvetica, sans-serif;
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list li {
	position: relative;
	margin: 0;
	padding: 0 0 10px 22px;
}
.list li:before {
	content: '';
	position: absolute;
	top: 6px;
	left: 4px;
	width: 7px;
	height: 6px;
	background: url(img/check.png) center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}

.footer {
	position: absolute;
	z-index: 11;
	bottom: 28px;
	left: 28px;
	right: 28px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	letter-spacing: 0.3px;
}

.checkbox input {
	margin: 0 5px 0 0;
}

.disclaimer {
	margin: 2px 0 0;
	font-size: 11px;
	line-height: 1.25;
}
.disclaimer a {
	color: #0071FF;
	text-decoration: none !important;
	transition: color 300ms;
}
.disclaimer a:hover {
	color: #33a4FF;
}

.btn,
.btn:hover {
	width: 124px;
	height: 40px;
	text-align: center;
	text-decoration: none;
	font: 600 15px/40px 'SF Pro Text', 'Proxima Nova', Arial, Helvetica, sans-serif;
	letter-spacing: 0.2px;
	color: #fff;
	background: #0071FF;
	border-radius: 4px;
	transition: background 300ms;
}
.btn:hover {
	background-color: #1182FF;
}