html, body { margin: 0; padding: 0; font-size: 10px; width: 100%; height: 100%; position: relative; background: transparent; overflow: hidden; }

#html_banner img {display: block; margin: 0 auto; width: 100%; height: 100%;}
#html_banner {
	overflow: hidden;
	position: relative;
	margin: 0;
	width: 240px;
	height: 400px;
	color: #000;
	background: #fff;
}

/**/

.link {
	display:block;
	position: relative;
	width:100%;
	height:100%;
	text-decoration: none;
}

.disklaimer {
	position: absolute;
	z-index: 11;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.slide {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 700ms ease-in-out;
	opacity: 0;
}
.bg {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.text {
	position: absolute;
	z-index: 3;
	top: 0;
	left: 15px;
	right: 0;
	height: 15px;
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-size: auto 100%;
	transition: all 500ms ease-in-out;
	opacity: 0;
}


/* slide 1 */

.slide__1 {
	z-index: 1;
	opacity: 0;
	transform: scale(1.2) translateY(30px);
}
.step_1 .slide__1 {
	opacity: 1;
	transform: scale(1) translateY(0);
}
.slide__1 .bg {
	background-image: url(img/bg_1.jpg);
}
.slide__1 .text {
	height: 15px;
}
.slide__1 .text__1 {
	top: 16px;
	background-image: url(img/text_1_1.png);
}
.step_1 .slide__1 .text__1 {
	animation: text_1 700ms 500ms ease-in-out both;
}
.slide__1 .text__2 {
	top: 36px;
	background-image: url(img/text_1_2.png);
}
.step_1 .slide__1 .text__2 {
	animation: text_1 700ms 750ms ease-in-out both;
}
.slide__1 .text__3 {
	top: 56px;
	background-image: url(img/text_1_3.png);
}
.step_1 .slide__1 .text__3 {
	animation: text_2 700ms 1000ms ease-in-out both;
}
.slide__1 .text__4 {
	top: 76px;
	background-image: url(img/text_1_4.png);
}
.step_1 .slide__1 .text__4 {
	animation: text_2 700ms 1250ms ease-in-out both;
}


/* slide 2 */

.slide__2 {
	z-index: 2;
	opacity: 0;
	transform: translateX(30px);
}
.step_2 .slide__2 {
	opacity: 1;
	transform: translateX(0);
}
.slide__2 .bg {
	background-image: url(img/bg_2.jpg);
}
.slide__2 .text {
	height: 17px;
}
.slide__2 .text__1 {
	top: 15px;
	background-image: url(img/text_2_1.png);
}
.step_2 .slide__2 .text__1 {
	animation: text_1 700ms 500ms ease-in-out both;
}
.slide__2 .text__2 {
	top: 35px;
	background-image: url(img/text_2_2.png);
}
.step_2 .slide__2 .text__2 {
	animation: text_1 700ms 750ms ease-in-out both;
}
.slide__2 .text__3 {
	top: 55px;
	background-image: url(img/text_2_3.png);
}
.step_2 .slide__2 .text__3 {
	animation: text_1 700ms 1000ms ease-in-out both;
}
.slide__2 .text__4 {
	top: 75px;
	background-image: url(img/text_2_4.png);
}
.step_2 .slide__2 .text__4 {
	animation: text_2 700ms 1250ms ease-in-out both;
}


/* slide 3 */

.slide__3 {
	z-index: 3;
	opacity: 0;
	transform: translateX(30px);
}
.step_3 .slide__3 {
	opacity: 1;
	transform: translateX(0);
}
.slide__3 .bg {
	background-image: url(img/bg_3.jpg);
}
.slide__3 .text {
	height: 15px;
}
.slide__3 .text__1 {
	top: 15px;
	background-image: url(img/text_3_1.png);
}
.step_3 .slide__3 .text__1 {
	animation: text_2 700ms 500ms ease-in-out both;
}
.slide__3 .text__2 {
	top: 35px;
	background-image: url(img/text_3_2.png);
}
.step_3 .slide__3 .text__2 {
	animation: text_2 700ms 750ms ease-in-out both;
}
.slide__3 .text__3 {
	top: 55px;
	background-image: url(img/text_3_3.png);
}
.step_3 .slide__3 .text__3 {
	animation: text_1 700ms 1000ms ease-in-out both;
}
.slide__3 .text__4 {
	top: 75px;
	background-image: url(img/text_3_4.png);
}
.step_3 .slide__3 .text__4 {
	animation: text_1 700ms 1250ms ease-in-out both;
}
.slide__3 .text__5 {
	top: 95px;
	background-image: url(img/text_3_5.png);
}
.step_3 .slide__3 .text__5 {
	animation: text_2 700ms 1500ms ease-in-out both;
}


/* slide 4 */

.slide__4 {
	z-index: 4;
	opacity: 0;
}
.step_4 .slide__4,
.step_5 .slide__4 {
	opacity: 1;
}
.slide__4 .text {
	height: 15px;
}
.slide__4 .text__0 {
	top: 15px;
	height: 44px;
	background-image: url(img/text_4_0.png);
}
.step_4 .slide__4 .text__0 {
	animation: text_1 700ms 500ms ease-in-out both;
}
.slide__4 .text__1 {
	top: 68px;
	left: 8px;
	height: 15px;
	background-image: url(img/text_4_1.png);
}
.step_4 .slide__4 .text__1 {
	animation: text_3 700ms 750ms ease-in-out both;
}
.slide__4 .text__2 {
	top: 98px;
	left: 8px;
	height: 57px;
	background-image: url(img/text_4_2.png);
}
.step_4 .slide__4 .text__2 {
	animation: text_3 700ms 1000ms ease-in-out both;
}
.slide__4 .text__3 {
	top: 168px;
	left: 8px;
	height: 44px;
	background-image: url(img/text_4_3.png);
}
.step_4 .slide__4 .text__3 {
	animation: text_3 700ms 1250ms ease-in-out both;
}

.slide__4 .text__4 {
	top: 15px;
	height: 20px;
	background-image: url(img/text_5_1.png);
}
.step_5 .slide__4 .text__4 {
	animation: text_2 700ms 500ms ease-in-out both;
}
.slide__4 .text__5 {
	top: 37px;
	height: 20px;
	background-image: url(img/text_5_2.png);
}
.step_5 .slide__4 .text__5 {
	animation: text_1 700ms 750ms ease-in-out both;
}
.slide__4 .text__6 {
	top: 59px;
	height: 20px;
	background-image: url(img/text_5_3.png);
}
.step_5 .slide__4 .text__6 {
	animation: text_1 700ms 1000ms ease-in-out both;
}
.slide__4 .text__7 {
	top: 82px;
	height: 20px;
	background-image: url(img/text_5_4.png);
}
.step_5 .slide__4 .text__7 {
	animation: text_1 700ms 1250ms ease-in-out both;
}

.slide__4 .product {
	position: absolute;
	z-index: 1;
	top: 222px;
	right: 65px;
	width: 205px;
	height: 165px;
	background:url(img/product.jpg) 100% 50% no-repeat;
	background-size: contain;
	transition: all 1000ms ease-in-out;
	opacity: 0;
	transform: translate(-20px,0) scale(0.9);
}
.step_4 .slide__4 .product {
	opacity: 1;
	transform: translate(0,0) scale(1);
}
.step_5 .slide__4 .product {
	opacity: 1;
	width: 220px;
	height: 200px;
	transform: translate(10px,-80px) scale(1);
}

.slide__4 .btn {
	position: absolute;
	z-index: 3;
	top: 300px;
	left: 28px;
	width: 183px;
	height: 37px;
	background: #f5cc00 url(img/btn.png) center no-repeat;
	background-size: contain;
	border-radius: 4px;
	transition: all 500ms ease-in-out;
	opacity: 0;
}
.step_5 .slide__4 .btn {
	opacity: 1;
	animation: btn 1000ms 1250ms ease-in-out both;
}

.slide__4 .stamp {
	position: absolute;
	z-index: 3;
	top: 111px;
	right: 15px;
	width: 122px;
	height: 50px;
	background: url(img/stamp.png) center no-repeat;
	background-size: contain;
	border-radius: 4px;
	transition: all 500ms 1000ms ease-in-out;
	opacity: 0;
	transform: scale(1.2) rotate(10deg) translateX(-10px);
}
.step_5 .slide__4 .stamp {
	opacity: 1;
	transform: scale(1) rotate(0) translateX(0);
}


/* slide 6 */

.slide__5 {
	z-index: 5;
	opacity: 0;
}
.step_6 .slide__5 {
	opacity: 1;
	background-image: url(img/final_bg.jpg);
}
.slide__5 .bg {
	background-image: url(img/final.png);
}





@keyframes text_1 {
	0% {
		opacity: 0;
		transform: translateX(20px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes text_2 {
	0% {
		opacity: 0;
		transform: scale(1.1) translateX(5px);
	}
	50% {
		transform: scale(1.2) translateX(10px);
	}
	100% {
		opacity: 1;
		transform: scale(1) translateX(0);
	}
}
@keyframes text_3 {
	0% {
		opacity: 0;
		transform: translateY(5px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes btn {
	0% {
		opacity: 0;
		transform: scale(0.9);
	}
	50% {
		opacity: 1;
		transform: scale(1.1);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes stamp {
	0% {
		opacity: 0;
		transform: scale(0.9);
	}
	50% {
		opacity: 1;
		transform: scale(1.1);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}