html, body { margin: 0; padding: 0; position: relative; }

#html_banner * {border:0; margin:0; padding:0; display: block;}
#html_banner {
	overflow: hidden;
	position: relative;
	text-align: center;
	margin: 0;
	width: 100%;
	min-width: 470px;
	height: 80px;
	font-size: 0;
	color: #fff;
	background: #DDDDD5;
	border: 0;
}

#html_banner .html_banner_link {display: block; position: relative; width: 100%; height: 100%; text-decoration: none;}
#html_banner .html_banner_slide {display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%;
	opacity: 0;
	-webkit-animation: slider 8s infinite;
	animation: slider 8s infinite;
	background: #DDDDD5 url(bg1.jpg) center top no-repeat;
	background-size: auto 100%;
}
#html_banner .html_banner_slide__2 {
	-webkit-animation-delay: 4s;
	animation-delay: 4s;
	background-image:  url(bg2.jpg);
}

@-webkit-keyframes slider {
	3%, 48% {
		z-index: 3;
		opacity: 1;
	}
	52%, 98% {
		z-index: 1;
		opacity: 0;
	}
}
@keyframes slider {
	3%, 48% {
		z-index: 3;
		opacity: 1;
	}
	52%, 98% {
		z-index: 1;
		opacity: 0;
	}
}