html, body {position: relative; width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden; background: transparent;}

.banner * {border:0; margin:0; padding:0; display: block;}
.banner {
	overflow: hidden;
	position: relative;
	text-align: center;
	margin: 0;
	width: 480px;
	height: 288px;
	font-size: 0;
	color: #fff;
	background: #034924;
	border: 0;
}

.link {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

.logo {
	display: block;
	position: absolute;
	z-index: 3;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background: url(img/logo.png) center no-repeat;
	background-size: contain;
	opacity: 0;
	animation: logo 10s ease-in-out Infinite;
}
@keyframes logo {
	0%, 90%, 100% {
		opacity: 0;
	}
	10%, 88% {
		opacity: 1;
	}
}

.flower {
	display: block;
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
	width: 360px;
	height: 360px;
	margin: -130px -180px;
	background: url(img/flower.png) center no-repeat;
	background-size: contain;
	opacity: 0;
	animation: flower 10s linear Infinite;
}
@keyframes flower {
	0%, 2%, 90%, 100% {
		opacity: 0;
		transform: rotate(0deg);
	}
	10% {
		opacity: 1;
	}
	60% {
		opacity: 1;
		transform: rotate(200deg);
	}
}

.title {
	display: block;
	position: absolute;
	z-index: 5;
	top: 50%;
	left: 0%;
	width: 100%;
	height: 150px;
	margin: -25px 0;
	background: url(img/title.png) center no-repeat;
	background-size: contain;
	opacity: 0;
	transform: scale(0.2);
	animation: title 10s ease-in-out Infinite;
}
@keyframes title {
	0%, 55%, 100% {
		opacity: 0;
		transform: scale(0.2);
	}
	10%, 45% {
		opacity: 1;
		transform: scale(1);
	}
}


.product {
	display: block;
	position: absolute;
	z-index: 11;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background: #034924 url(img/product.jpg) center no-repeat;
	background-size: contain;
	opacity: 0;
	animation: product 10s ease-in-out Infinite;
}
@keyframes product {
	0%, 50%, 100% {
		opacity: 0;
	}
	55%, 95% {
		opacity: 1;
	}
}