html, body { margin: 0; padding: 0; width: 100%; height: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-overflow-style: scrollbar;
}

html {font-size: 10px;}

.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background: #0061ff;
	background: -moz-linear-gradient(left,  #0061ff 0%, #1559c7 100%);
	background: -webkit-linear-gradient(left,  #0061ff 0%,#1559c7 100%);
	background: linear-gradient(to right,  #0061ff 0%,#1559c7 100%);
	overflow: hidden;
}

.inner {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	min-width: 825px;
	width: 825px;
	height: 100%;
	color: #fff;
	text-decoration: none;
	background: url(img/bg.png) 100% 50% no-repeat;
	background-size: 100% auto;
}

.box {
	width: 700px;
	margin: 0;
}

.logo {
	position: relative;
	margin: 0 0 55px;
	width: 100%;
	height: 32px;
	background: url(img/logo.png) left center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	overflow: hidden;
	text-indent: -5000px;
}

.title {
	position: relative;
	margin: 0 0 25px;
	font: 700 70px/1.1 'Mail Sans Roman', 'TT Norms Pro', 'Proxima Nova', Arial, Helvetica, sans-serif;
	letter-spacing: -2px;
}

.description {
	margin: 0 0 33px;
	font: 400 20px/1.4 'Mail Sans Roman', 'TT Norms Pro', 'Proxima Nova', Arial, Helvetica, sans-serif;
}

.btn,
.btn:hover {
	width: 262px;
	height: 62px;
	text-align: center;
	text-decoration: none;
	font: 700 20px/62px Arial, Helvetica, sans-serif;
	color: #fff;
	background: #000;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	transition: opacity 300ms;
}
.btn:hover {
	opacity: 0.8;
}

@media screen and (max-width: 555px) {
	.wrapper {
		justify-content: flex-start;
	}
}

@media screen and (max-width: 825px), screen and (max-height: 700px) {
	.inner {
		min-width: 666px;
		width: 666px;
	}
	.box {
		width: 555px;
	}
	.logo {
		margin: 0 0 50px;
		height: 28px;
	}
	.title {
		font-size: 55px;
		letter-spacing: -1px;
	}
	.description {
		font-size: 16px;
	}
}

@media screen and (max-width: 666px), screen and (max-height: 500px) {
	.inner {
		min-width: 555px;
		width: 555px;
	}
	.box {
		width: 444px;
	}
	.logo {
		margin: 0 0 44px;
		height: 26px;
	}
	.title {
		font-size: 44px;
		letter-spacing: -1px;
	}
	.description {
		font-size: 14px;
	}
	.btn, .btn:hover {
		width: 220px;
		height: 58px;
		line-height: 58px;
	}
}