html, body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.banner {
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 80px;
	overflow: hidden;
	transition: height 500ms ease-in-out;
}
.banner.opened {
	height: 220px;
}

.content {
	display: block;
	position: absolute;
	bottom: -200px;
	left: 0;
	width: 100%;
	height: 200px;
	background: #025EF6;
	transform: translateY(-60px);
	transition: transform 500ms ease-in-out;
}
.opened .content {
	transform: translateY(-200px);
}

.toggle {
	position: absolute;
	z-index: 11;
	top: 0;
	left: 50%;
	margin: -20px -30px;
	width: 60px;
	height: 60px;
	background: #025EF6 url(img/toggle.png) 50% 30% no-repeat;
	background-size: 40% auto;
	border-radius: 50%;
	cursor: pointer;
}
.opened .toggle {
	transform: scaleY(-1);
	background-position: 50% 60%;
}

.title {
	position: absolute;
	z-index: 11;
	top: 0;
	left: 50%;
	margin: 30px -85px;
	width: 170px;
	height: 105px;
	background: url(img/title.png) center bottom no-repeat;
	background-size: contain;
}

.btn {
	position: absolute;
	z-index: 11;
	top: 0;
	left: 50%;
	margin: 150px -67px;
	width: 135px;
	height: 35px;
	background: url(img/btn.png) center bottom no-repeat;
	background-size: contain;
}

.donuts {
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 220px;
	background: url(img/donuts.png) center bottom no-repeat;
	background-size: contain;
}