@font-face {
	font-family: 'GTWalsheimBold';
	src: local('GTWalsheimBold'), url(./fonts/GTWalsheimBold.woff) format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: fallback;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: transparent;
}

#html_banner {
	position: relative;
	display: block;
	width: 100%;
	height: 100px;
	overflow: hidden;
}

#html_banner .link {
	display: block;
	position: relative;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#html_banner .bg {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(img/bg.png) center no-repeat;
	background-size: 100% 100%;
	transform: translateY(100%);
	transition: transform 500ms linear;
}

#html_banner .main {
	position: absolute;
	z-index: 5;
	top: 0;
	left: 50%;
	margin: 0 0 0 -50px;
	width: 100px;
	height: 100px;
	background: url(img/main.png) center no-repeat;
	background-size: contain;
	transform: translate(0%,100%);
	transition: transform 500ms linear;
}

#html_banner .circle {
	position: absolute;
	z-index: 2;
	top: 44%;
	left: 50%;
	margin: 0 0 0 -20px;
	width: 40px;
	height: 40px;
	background: url(img/circle_1.png) center no-repeat;
	background-size: contain;
	transform: translate(0%,200%) scale(0.5);
	transition: transform 500ms linear;
}
#html_banner .circle_1 {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(img/circle_1.png) center no-repeat;
	background-size: contain;
	transform: translateX(0%);
	transition: transform 500ms linear;
}
#html_banner .circle_2 {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(img/circle_2.png) center no-repeat;
	background-size: contain;
	transform: translateX(0%);
	transition: transform 500ms linear;
}

#html_banner .text {
	position: absolute;
	z-index: 3;
	top: 45%;
	left: 50%;
	margin: 0 0 0 -152px;
	width: 70%;
	font: 700 12px/1.1 'GTWalsheimBold', Arial, Helvetica, sans-serif;
	word-spacing: -1.5px;
	white-space: nowrap;
	color: #fff;
	transform: translateX(-100%);
	transition: transform 500ms linear;
}
#html_banner .text span {
	color: #731982;
}