html, body { margin: 0; padding: 0; }

.zuubban {
	overflow: hidden;
	position: relative;
	text-align: left;
	margin: 0 auto;
	width: 320px;
	height: 50px;
	font-size: 0;
	color: #666;
	background: #fff;
	font: 400 15px/1 Arial, Helvetica, sans-serif;
}


.zuubban_link {display:block; position: relative; width:100%; height:100%; border: 0; text-decoration: none;color: inherit!important;}
.zuubban_link:before {content: ''; display:block; position: absolute; z-index: 111; top: 0; left: 0; width:100%; height:100%; box-shadow: inset 0 0 0 1px #eaeaea;}

.zuubban_logo {position: absolute; z-index: 110; top: 8px; left: 10px; width: 48px; height: 22px; background: url(img/logo.png) center no-repeat; background-size: contain;}

.zuubban_note {position: absolute; box-sizing: border-box; z-index: 110; bottom: 0; left: 0; right: 0; padding: 1px 0 0; text-align: center; font: 700 8px/1 Arial, Helvetica, sans-serif; letter-spacing: 0.5px; color: #8d8787; background: #eaeaea;}
.zuubban_note sup {color: #c54181; vertical-align: middle; font-size: 1em;}

.zuubban_slide {display:block; position: relative; z-index: 3; width:100%; height:100%;}
.zuubban_slide_item {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #fff; opacity: 0; transition: opacity 500ms ease-in-out;}
.zuubban_slide_item.show,
.zuubban_slide_item_1 {opacity: 1;}

/**/

.zuubban_slide_1_1 {position: absolute; box-sizing: border-box; top: 4px; left: 68px; padding: 3px 0; width: 77px; height: 32px; text-align: center; font: 700 9px/1 Arial, Helvetica, sans-serif; text-transform: uppercase; color: #fff; background: #00b471;}
.zuubban_slide_1_1 span {display: block; font-size: 17px;}

.zuubban_slide_1_2 {position: absolute; box-sizing: border-box; top: 4px; left: 150px; padding: 1px 0; width: 90px; height: 32px; text-align: center; font: 700 15px/1 Arial, Helvetica, sans-serif; color: #666; background: #fff; border: 1px dashed #999;}
.zuubban_slide_1_2 span {display: block; font-size: 13px; text-transform: uppercase; color: #00b471;}

/**/

.zuubban_slide_2_1 {position: absolute; box-sizing: border-box; top: 2px; left: 66px; font: 700 11px/1 Arial, Helvetica, sans-serif; letter-spacing: -0.8px; text-transform: uppercase; text-align: left; color: #273034; animation: slidebg 9s ease-in-out Infinite; opacity: 1;}

.zuubban_slide_2_2 {position: absolute; box-sizing: border-box; top: 13.3px; left: 66px; padding: 2px 0 0; width: 135px; height: 16px; text-align: center; font: 700 13.3px/0.95 Arial, Helvetica, sans-serif; color: #fff; background: #00b471;}
.zuubban_slide_2_2 s {font-size: 11px; padding-right: 10px;}
.zuubban_slide_2_2 span {font-weight: 400;}

.zuubban_slide_2_3 {position: absolute; box-sizing: border-box; top: 30px; left: 0px; right: 0; text-align: center; font: 700 8px/1 Arial, Helvetica, sans-serif; color: #666; font-style: italic;}
.zuubban_slide_2_3 sup {color: #c54181; vertical-align: middle; margin: 0 1px 0 0;}
.zuubban_slide_2_3 div {display: inline; margin: 0 0 0 3px;}

.zuubban_slide_2_4 {position: absolute; box-sizing: border-box; top: 4px; left: 208px; padding: 2px 0 0 18px; width: 77px; height: 25px; font: 700 9px/1 Arial, Helvetica, sans-serif; color: #00b471; background: #fff; border: 1px dashed #999;}
.zuubban_slide_2_4 span {position: relative; display: inline-block; vertical-align: middle;}
.zuubban_slide_2_4 span b {display: block; font-size: 10px;}
.zuubban_slide_2_4 span:before {content: '+'; position: absolute; top: 1px; left: -15px; font-size: 18px;}

/**/

.zuubban_slide_3_1 {position: absolute; box-sizing: border-box; top: 2px; left: 63px; font: 700 13px/1 Arial, Helvetica, sans-serif; color: #00b471;}
.zuubban_slide_3_1:before {content: ''; display: inline-block; vertical-align: middle; margin: 0 3px 0 0; width: 12px; height: 12px; background: url(img/prize.png) center no-repeat; background-size: contain;}
.zuubban_slide_3_1 span {display: inline-block; vertical-align: middle;}
.zuubban_slide_3_1 i {display: block; margin: -1px 0 0; font-size: 8px; color: #8a8a8a; font-style: italic; font-weight: 400;}
.zuubban_slide_3_1 i sup {color: #c54181; vertical-align: middle; font-size: 1em;}

.zuubban_slide_3_2_1 {position: absolute; top: 3px; left: 190px; font: 700 14px/1 Arial, Helvetica, sans-serif; letter-spacing: -1px; text-transform: uppercase; color: #273034;}
.zuubban_slide_3_2_1 span {display: block; font-size: 19px;}
.zuubban_slide_3_2_2 {position: absolute; top: 3px; left: 190px; font: 700 11px/1.1 Arial, Helvetica, sans-serif; letter-spacing: -1px; text-transform: uppercase; color: #273034;}
.zuubban_slide_3_2_2 span {display: block; font-size: 0.75em; font-weight: 400; color:#8d8787; letter-spacing:0.5px;}
.zuubban_slide_3_2_3 {position: absolute; top: 4px; left: 190px; font: 700 11px/1 Arial, Helvetica, sans-serif; letter-spacing: -1.2px; text-transform: uppercase; color: #273034;}

.zuubban_slide_3_3 {position: absolute; box-sizing: border-box; top: 25px; left: 70px; height: 14px; padding: 1.7px 2px 0; text-align: center; font: 700 12px/0.95 Arial, Helvetica, sans-serif; text-transform: uppercase; color: #fff; background: #00b471;}
.zuubban_slide_3_3 s {font-size: 0.85em; text-decoration: none; position: relative; display: inline-block; margin-left: 5px;}
.zuubban_slide_3_3 s:before {content: ''; position: absolute; top: 50%; left: -5%; right: -5%; border-bottom: 2px solid;}
.zuubban_slide_3_3 span {font-weight: 400;}
.zuubban_slide_3_3 div {position: absolute; width: 100%; height: 100%; top: 0; left: 0;}
.zuubban_slide_3_3 div:before,
.zuubban_slide_3_3 div:after {content: ''; position: absolute; border-width: 8px 4px 8px; border-style: solid;}
.zuubban_slide_3_3 div:before {top: 0; right: 100%; border-color: #00b471; border-bottom-color: transparent; border-left-color: transparent;}
.zuubban_slide_3_3 div div:before {right: auto; left: 100%; border-color: #00b471; border-bottom-color: transparent; border-right-color: transparent;}
.zuubban_slide_3_3 div:after {bottom: 0; right: 100%; border-color: #00b471; border-top-color: transparent; border-left-color: transparent;}
.zuubban_slide_3_3 div div:after {right: auto; left: 100%; bottom: 0; border-color: #00b471; border-top-color: transparent; border-right-color: transparent;}

.big{font-size: 1.25em;}
b.min{font-size: 0.7em;}

/* animation BG */

.zuubban_slide_bg {position: absolute; z-index: 0; top: 0; left: 0; width: 100%; height: 100%; opacity: 0;}
.zuubban_slide_item.show .zuubban_slide_bg {animation: slidebg 9s ease-in-out Infinite;}

.zuubban_slide_item_1 .zuubban_slide_bg {background: url(img/bg_1.jpg); opacity: 1;}

.zuubban_slide_item_2.show .zuubban_slide_bg_1 {background: url(img/bg_2_1.jpg); opacity: 1;}
.zuubban_slide_item_2.show .zuubban_slide_bg_2 {background: url(img/bg_2_2.jpg); animation-delay: 3s;}
.zuubban_slide_item_2.show .zuubban_slide_bg_3 {background: url(img/bg_2_3.jpg); animation-delay: 6s;}

.zuubban_slide_item_3.show .zuubban_slide_bg_1 {background: url(img/bg_3_1.jpg); opacity: 1;}
.zuubban_slide_item_3.show .zuubban_slide_bg_2 {background: url(img/bg_3_2.jpg); animation-delay: 3s;}
.zuubban_slide_item_3.show .zuubban_slide_bg_3 {background: url(img/bg_3_3.jpg); animation-delay: 6s;}

@keyframes slidebg {
	0%, 100% {opacity: 0;}
	5%, 33% {opacity: 1;}
	38% {opacity: 0;}
}


/* animation TEXT */

.zuubban_slide_item .zuubban_slide_up {opacity: 0; transform: translate(0,20px); transition: all 1s;}
.zuubban_slide_item.show .zuubban_slide_up {opacity: 1; transform: translate(0,0);}

.zuubban_slide_item.show .zuubban_slide_up_1 {transition-delay: 0s;}
.zuubban_slide_item.show .zuubban_slide_up_2 {transition-delay: 0.2s;}
.zuubban_slide_item.show .zuubban_slide_up_3 {transition-delay: 0.4s;}
.zuubban_slide_item.show .zuubban_slide_up_4 {transition-delay: 0.6s;}
.zuubban_slide_item.show .zuubban_slide_up_5 {transition-delay: 0.8s;}
.zuubban_slide_item.show .zuubban_slide_up_6 {transition-delay: 1s;}

@keyframes slide_up {
	0%, 100% {opacity: 0; transform: translate(0,20px);}
	5%, 33% {opacity: 1; transform: translate(0,0);}
	38% {opacity: 0; transform: translate(0,-20px);}
}

/**/

.zuubban_slide_item .zuubban_slide_move {opacity: 0; transform: translate(0,20px);}
.zuubban_slide_item.show .zuubban_slide_move {animation: move 9s cubic-bezier(0.4, 0.0, 0.2, 1) Infinite;}

.zuubban_slide_item.show .zuubban_slide_move_1 {animation-delay: 0s;}
.zuubban_slide_item.show .zuubban_slide_move_2 {animation-delay: 3s;}
.zuubban_slide_item.show .zuubban_slide_move_3 {animation-delay: 6s;}

@keyframes move {
	0%, 100% {opacity: 0; transform: translate(0,20px);}
	10%, 33% {opacity: 1; transform: translate(0,0);}
	38% {opacity: 0; transform: translate(0,-20px);}
}

/**/

.zuubban_slide_item .zuubban_slide_left {opacity: 0; transform: translate(-20px,0);}
.zuubban_slide_item.show .zuubban_slide_left {animation: left 9s cubic-bezier(0.4, 0.0, 0.2, 1) Infinite;}

.zuubban_slide_item.show .zuubban_slide_left_1 {animation-delay: 0s;}
.zuubban_slide_item.show .zuubban_slide_left_2 {animation-delay: 3s;}
.zuubban_slide_item.show .zuubban_slide_left_3 {animation-delay: 6s;}

@keyframes left {
	0%, 100% {opacity: 0; transform: translate(-20px,0);}
	10%, 33% {opacity: 1; transform: translate(0,0);}
	38% {opacity: 0; transform: translate(20px,0);}
}

/**/

.zuubban_slide_item .zuubban_slide_bounce {opacity: 0; transform: scale(0);}
.zuubban_slide_item.show .zuubban_slide_bounce {animation: bounce 9s cubic-bezier(0.4, 0.0, 0.2, 1) Infinite;}

.zuubban_slide_item.show .zuubban_slide_bounce_1 {animation-delay: 0s;}
.zuubban_slide_item.show .zuubban_slide_bounce_2 {animation-delay: 3s;}
.zuubban_slide_item.show .zuubban_slide_bounce_3 {animation-delay: 6s;}

@keyframes bounce {
	0%, 100% {opacity: 0; transform: scale(0);}
	5% {opacity: 1; transform: scale(1.1);}
	8%, 33% {opacity: 1; transform: scale(1);}
	38% {opacity: 0; transform: scale(0);}
}
