html, body { margin: 0; padding: 0; width: 100%; height: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-overflow-style: scrollbar;
}

html {font-size: 10px;}

.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: #fff;
	background: #382389;
	overflow: hidden;
}

.inner {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	min-width: 860px;
	width: 860px;
	height: 100%;
	color: #fff;
	text-decoration: none;
}

.img {
	position: absolute;
	right: 55px;
	bottom: 50%;
	margin: 0 0 -310px;
	width: 470px;
	height: 475px;
	background: url(img/bg.png) 0 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}

.box {
	width: 500px;
	min-width: 300px;
	margin: 0 0 244px;
}

.logo {
	position: relative;
	margin: 0 0 60px;
	width: 500px;
	height: 75px;
	background: url(img/logo.png) left center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	overflow: hidden;
	text-indent: -5000px;
}

.title {
	position: relative;
	margin: 0 0 40px;
	font: 500 38px/1.37 'TT Norms Pro', 'Proxima Nova', Arial, Helvetica, sans-serif;
}

.btn,
.btn:hover {
	position: relative;
	margin: 0 0 80px;
	width: 262px;
	height: 76px;
	text-align: center;
	text-decoration: none;
	font: 700 24px/76px Arial, Helvetica, sans-serif;
	color: #fff;
	background: #9555DC;
	-webkit-border-radius: 14px;
	border-radius: 14px;
	transition: opacity 300ms;
}
.btn:hover {
	opacity: 0.8;
}
.btn::before {
	content: 'LIVE';
	position: absolute;
	z-index: 11;
	top: 0;
	right: 0;
	transform: translate(28%,-33%);
	width: 70px;
	font: 400 13px/34px Arial, Helvetica, sans-serif;
	background: #ED4243;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.disclaimer {
	position: absolute;
	bottom: 30px;
	right: 30px;
	font: 500 28px/1 'TT Norms Pro', 'Proxima Nova', Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 860px) {
	.wrapper {
		justify-content: flex-start;
	}
}