html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-overflow-style: scrollbar;
}

.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background: #F5F7FD;
	overflow: hidden;
}

.inner {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	max-width: 650px;
	width: 100%;
	height: 100%;
	color: #69717C;
	text-decoration: none;
	background: url(img/bg.png) top right no-repeat;
}

.box {
	position: relative;
	width: 100%;
	max-width: 555px;
}

.note {
	position: absolute;
	bottom: 18px;
	left: 360px;
	font: 400 12px/2 Arial, Helvetica, sans-serif;
	color: #69717C;
}

.title {
	position: relative;
	margin: 0 0 20px;
	height: 83px;
	background: url(img/title.png) left center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	font-size: 0;
	color: transparent;
}

.description {
	margin: 0 0 30px;
	font: 400 28px/34px 'Proxima Nova', Arial, Helvetica, sans-serif;
}

.labels {
	margin: 0 0 10px -15px;
	height: 75px;
	background: url(img/labels.png) left center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	text-indent: -5000px;
	overflow: hidden;
}

.btn,
.btn:hover {
	margin: 0;
	width: 262px;
	height: 62px;
	text-align: center;
	text-decoration: none;
	font: 700 20px/62px Arial, Helvetica, sans-serif;
	color: #000;
	background: #FFC135;
	border-radius: 8px;
	transition: opacity 300ms;
}
.btn:hover {
	opacity: 0.8;
}

@media screen and (max-width: 650px) {
	.wrapper {
		justify-content: flex-start;
	}
}