html, body { margin: 0; padding: 0; position: relative; }

#html_banner * {border:0; margin:0; padding:0; display: block;}
#html_banner {
	overflow: hidden;
	position: relative;
	text-align: center;
	margin: 0;
	width: 240px;
	height: 400px;
	font-size: 0;
	color: #fff;
	background: #00674c;
	border: 0;
}

#html_banner .html_banner_link {display: block; position: relative; width: 100%; height: 100%; text-decoration: none;}
#html_banner .html_banner_logo {display: block; position: absolute; z-index: 5; top: 0; left: 0; width: 100%; height: 100%; background: url(logo.png) center top no-repeat; -webkit-background-size: auto 100%; background-size: auto 100%;}
#html_banner .html_banner_slide {display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%;
	opacity: 0;
	-webkit-animation: slider 9s infinite;
	animation: slider 9s infinite;
	background: #00674c url(bg1.jpg) center top no-repeat;
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
}
#html_banner .html_banner_slide__2 {
	-webkit-animation-delay: 3s;
	animation-delay: 3s;
	background-image:  url(bg2.jpg);
}
#html_banner .html_banner_slide__3 {
	-webkit-animation-delay: 6s;
	animation-delay: 6s;
	background-image:  url(bg3.jpg);
}

@-webkit-keyframes slider {
	3%, 31% {
		z-index: 3;
		opacity: 1;
	}
	35%, 98% {
		z-index: 1;
		opacity: 0;
	}
}
@keyframes slider {
	3%, 31% {
		z-index: 3;
		opacity: 1;
	}
	35%, 98% {
		z-index: 1;
		opacity: 0;
	}
}