html, body { margin: 0; padding: 0; width: 100%; min-width: 940px; height: 100%; position: relative; background: #FBFBFD;}

.bnr {
	overflow: hidden;
	position: relative;
	margin: 0;
	width: 100%;
	min-width: 940px;
	height: 250px;
	font-size: 0;
	color: #fff;
	background: #951222 url(img/bg.jpg) center no-repeat;
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
}
.link {
	display: block;
	position: relative;
	height: 100%;
	text-decoration: none;
	background: url(img/text.png) center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}